/* =======================================
    Font Style
======================================= */
@font-face {
    font-family: titi ;
    src: url(fonts/TitiRegular.ttf);
}
@font-face {
    font-family: tiitBold;
    src: url(fonts/TitiBold.ttf);
}


/* =======================================
    Reuseable Classes Style
======================================= */
html{
    scroll-behavior: smooth;
}

body{
    font-family: titi;
}

.butn{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 20px 60px;
    border-bottom: 3px solid rgb(24, 23, 23);
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
}

.butn:hover{
    text-decoration: none;
}

h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: titiBold;
    padding: 0px 80px;
}

h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

h2::after{
    content: '';
    display: block;
    height: 5px;
    background: #000;
    width: 100px;
    margin: auto;
    margin-top: 30px;
}

h4{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

h5{
    text-align: center;
    margin-top: 30px;
}

p{
    font-size: 18px;
    margin-top: 30px;
}


/* =======================================
    Header Section Style
======================================= */
.navbar{
    background: rgba(60, 71, 97, .8);
}


#headerSection{
    background: linear-gradient(rgba(135, 80, 156, 0.8),rgba(135, 80, 156, 0.8)), url(img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 95vh;
    position: relative;
}

#headerSection .navbar{
    transition: all 0.5s;
}

#headerSection .active{
    /* background: #643a79; */
}

#headerSection .butn{
    background: #eb7d4b;
    border-bottom: 3px solid #c86a40;
}

#headerSection .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}


/* =======================================
    Service Section Style
======================================= */
#service{
    background: linear-gradient(rgba(23, 194, 164, 0.8),rgba(23, 194, 164, 0.8)), url(img/services_bg.jpg);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

#service h2::after{
    background: #14a58c;
}

#service img{
    padding: 30px 0px;
    height: 180px;  
}


/* =======================================
    Team Section Style
======================================= */
#team{
    background: linear-gradient(rgba(231, 241, 248, 0.8),rgba(231, 241, 248, 0.8)), url(img/team_bg.jpg);
    color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#team h2::after{
    background: #c8d9e5;
}

#team img{
    padding: 30px 0px;
    height: 200px; 
    width: 150px; 
    border-radius: 50%;
}

#team span{
    display: block;
    color: #03A5EC;
    text-transform: uppercase;
    margin-top: 10px;
}

#team .social ul{
    display: inline-flex;
}

#team .social ul li{
    padding: 20px 5px;
}

#team .social ul li .fa{
    background: #bdd1df;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
}

#team .social ul li:hover .fa-facebook{
    background: #1773EA;
    color: #F7F7F7;
}

#team .social ul li:hover .fa-twitter{
    background: #03A5EC;
    color: #F7F7F7;
}

#team .social ul li:hover .fa-linkedin{
    background: #1773EA;
    color: #F7F7F7;
}

#team .social ul li:hover .fa-envelope{
    background: #fff;
    color: #F04134;
}


/* =======================================
    Skill Section Style
======================================= */
#skill{
    /* background: linear-gradient(rgba(23, 194, 164, 0.8),rgba(23, 194, 164, 0.8)), url(img/services_bg.jpg); */
    color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

#skill h2::after{
    background: #dfe8ed;
}

svg.radial-progress circle{
    fill: rgba(0,0,0,0);
    stroke-width: 5;
}

svg.radial-progress text{
    fill: #3c4761;
}

svg.web_design circle{
    stroke: #d74680;
}

svg.html_css circle{
    stroke: #7dd4f0;
}
svg.jquery circle{
    stroke: #63dac5;
}
svg.php circle{
    stroke: #eb7d4b;
}


/* =======================================
    Portfolio Section Style
======================================= */
#portfolio{
    background: linear-gradient(rgba(255, 221, 153, 0.8),rgba(255, 221, 153, 0.8)), url(img/portfolio_bg.jp);
    color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    text-align: center;
}

#portfolio h2::after{
    background: #e5c37f;
}

#portfolio .butn{
    background: #ebc985;
    color: #000;
    border-bottom: 3px solid #dba537;
}


/* =======================================
    About Section Style
======================================= */
#about{
    background: linear-gradient(rgba(215, 70, 128, 1),rgba(215, 70, 128, 1)), url(img/portfolio_bg.jp);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

#about h2::after{
    background: #b73c6d;
}

#about img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#about p{
    margin-top: 0px;
    text-align: left;
    font-style: italic;
    margin-bottom: 30px;
}

#about span{
    color: #ffdd99;
}


/* =======================================
    Contact Section Style
======================================= */
#contact{
    background: linear-gradient(rgba(60, 84, 153, 1),rgba(60, 84, 153, 1)), url(img/portfolio_bg.jp);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    transition: all 0.5s;
}

#contact h2::after{
    background: #273a71;
}

#contact .butn{
    background: #30bae7;
    border-bottom: 3px solid #299ec5;
}

#contact input,
#contact textarea{
    background: #273a71;
    border: none;
    color: #fff;
}

#contact input::placeholder{
    color: rgb(218, 218, 218);
}

#contact textarea::placeholder{
    color: rgb(218, 218, 218);
}